body {
  font-family: sans-serif;
  background: #111;
  color: #eee;
  padding: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

#charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

svg {
  background: #1b1b1b;
  border: 1px solid #444;
}
